## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Champerico,GT,2022-07-20 14:11:24,14.3000,-91.9167,82.94,79,100,3.98,overcast clouds
1,1,Silvania,BR,2022-07-20 14:11:24,-16.6589,-48.6081,76.23,37,11,11.65,few clouds
2,2,Chuy,UY,2022-07-20 14:11:25,-33.6971,-53.4616,56.08,80,0,10.13,clear sky
3,3,Tasiilaq,GL,2022-07-20 14:11:25,65.6145,-37.6368,41.16,82,92,4.32,overcast clouds
4,4,Ponta Do Sol,PT,2022-07-20 14:11:25,32.6667,-17.1000,83.71,65,0,2.98,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Champerico,GT,2022-07-20 14:11:24,14.3000,-91.9167,82.94,79,100,3.98,overcast clouds
1,1,Silvania,BR,2022-07-20 14:11:24,-16.6589,-48.6081,76.23,37,11,11.65,few clouds
4,4,Ponta Do Sol,PT,2022-07-20 14:11:25,32.6667,-17.1000,83.71,65,0,2.98,clear sky
14,14,Dingle,PH,2022-07-20 14:11:29,10.9995,122.6711,78.53,87,83,3.22,broken clouds
19,19,Beloha,MG,2022-07-20 14:08:04,-25.1667,45.0500,76.35,28,0,7.05,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                276
City                   276
Country                276
Date                   276
Lat                    276
Lng                    276
Max Temp               276
Humidity               276
Cloudiness             276
Wind Speed             276
Current Description    276
dtype: int64

### NO EMPTY ROWS EXIST

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# NOT APPLICABLE - no missing rows

clean_df = preferred_cities_df

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Champerico,GT,82.94,overcast clouds,14.3000,-91.9167,
1,Silvania,BR,76.23,few clouds,-16.6589,-48.6081,
4,Ponta Do Sol,PT,83.71,clear sky,32.6667,-17.1000,
14,Dingle,PH,78.53,broken clouds,10.9995,122.6711,
19,Beloha,MG,76.35,clear sky,-25.1667,45.0500,
20,Lorengau,PG,81.97,broken clouds,-2.0226,147.2712,
25,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,
27,Jamestown,US,82.94,clear sky,42.0970,-79.2353,
29,Sikeston,US,85.24,clear sky,36.8767,-89.5879,
31,Hithadhoo,MV,81.10,moderate rain,-0.6000,73.0833,

In [8]:
len(hotel_df)

276

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Champerico,GT,82.94,overcast clouds,14.3000,-91.9167,Champerico
1,Silvania,BR,76.23,few clouds,-16.6589,-48.6081,Silvânia
4,Ponta Do Sol,PT,83.71,clear sky,32.6667,-17.1000,Ribeira Brava
14,Dingle,PH,78.53,broken clouds,10.9995,122.6711,Pototan
19,Beloha,MG,76.35,clear sky,-25.1667,45.0500,Beloha
20,Lorengau,PG,81.97,broken clouds,-2.0226,147.2712,Lorengau
25,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,Kamisu
27,Jamestown,US,82.94,clear sky,42.0970,-79.2353,Jamestown
29,Sikeston,US,85.24,clear sky,36.8767,-89.5879,Sikeston
31,Hithadhoo,MV,81.10,moderate rain,-0.6000,73.0833,Addu City

In [12]:
# 7. Drop the rows where there is no Hotel Name.

In [13]:
hotel_df.count()

City                   276
Country                276
Max Temp               276
Current Description    276
Lat                    276
Lng                    276
Hotel Name             276
dtype: int64

In [21]:
clean_hotel_df = hotel_df.dropna(subset=["Hotel Name"])

In [22]:
clean_hotel_df.count()
## No NULL values in Hotel Name

City                   276
Country                276
Max Temp               276
Current Description    276
Lat                    276
Lng                    276
Hotel Name             276
dtype: int64

In [23]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Champerico,GT,82.94,overcast clouds,14.3000,-91.9167,Champerico
1,Silvania,BR,76.23,few clouds,-16.6589,-48.6081,Silvânia
4,Ponta Do Sol,PT,83.71,clear sky,32.6667,-17.1000,Ribeira Brava
14,Dingle,PH,78.53,broken clouds,10.9995,122.6711,Pototan
19,Beloha,MG,76.35,clear sky,-25.1667,45.0500,Beloha
...,...,...,...,...,...,...,...
685,Sumenep,ID,79.21,clear sky,-7.0167,113.8667,Sumenep
687,Cururupu,BR,87.62,few clouds,-1.8283,-44.8683,Cururupu
688,Chhatak,BD,80.37,overcast clouds,25.0333,91.6667,Chhatak
689,Changji,CN,77.79,clear sky,44.0167,87.3167,Ürümqi
690,Chatrapur,IN,84.97,overcast clouds,19.3500,84.9833,Chatrapur

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
clean_hotel_df.count()

City                   276
Country                276
Max Temp               276
Current Description    276
Lat                    276
Lng                    276
Hotel Name             276
dtype: int64

In [40]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))